:root {
  /* copy */
  --brand-color: #7964D3;
  --secondary-color: white;
  --accent-color: #FDD700;
  --h2-size: 2rem;
  --h3-size: 2.5rem;
  --h4-size: 1.5rem;
  --h5-size: 1.2rem;
    
  /* backgrounds */
  --brand-background-color: #7964D3;
  --secondary-background-color: white;
  --accent-background-color: white;
  /* footer font color */

  /* accent */
  --accent-color: #FDD700;
  }

* {
  box-sizing: border-box;
  max-width: 375px;
  margin: auto;
  padding: 0px;
}

/* logo and nav */
logo {
  background-color: var(--brand-color);
}


nav {
  background-color: var(--brand-color);
  text-align: center;
  padding: 1rem;
  /* padding-top: 0; */
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
}

h1 {
  background-color: var(--brand-color);
}

h2 {
  color:var(--brand-color);
  font-size: var(--h2-size);
  text-align: center;
  padding: 1rem;
}

h3 {
  padding-bottom: 1rem;
  font-size: var(--h3-size);
}

p {
  padding-bottom: 1rem;
}

h4 {
  font-size: var(--h4-size);
  padding: 1rem;
  color: var(--brand-color);
}

h5 {
  font-size: var(--h5-size);
}

.welcome {
  display: block;
  background-color: var(--brand-color);
  color: var(--secondary-color);
  padding: 1rem;
}

img {
  /* need to fix width here to overflow */
  width: 100%;
  margin: auto;
}

.favourites {
  color: var(--brand-color);
}

.drinks {
  /* Add shadows to create the "card" effect */
  border-color: var(--accent-color);
  outline: 3px solid var(--accent-color);
  border-radius: 2.5px;
}

.container {
  padding: 2px 16px;
}

.magic {
  display: block;
  background-color: var(--secondary-color);
  color: var(--brand-color);
  padding: 1rem;
}

.magic h3{
  color: var(--brand-color);
}