:root {
  /* copy */
  --brand-color: #7964D3;
  --secondary-color: white;
  --accent-color: #FDD700;
  --h2-size: 2rem;
  --h3-size: 2.5rem;
  --h4-size: 1.5rem;
  --h5-size: 1.2rem;
    
  /* backgrounds */
  --brand-background-color: #7964D3;
  --secondary-background-color: white;
  --accent-background-color: white;
  /* footer font color */

  /* accent */
  --accent-color: #FDD700;
  }

* {
  box-sizing: border-box;
  /* min-width: 300px; */
  /* max-width: 375px; */
  margin: auto;
  padding: 0px;
}



/* logo and nav */
.logo {
  background-color: var(--brand-color);
}


nav {
  background-color: var(--brand-color);
  text-align: center;
  padding: 1rem;
  /* padding-top: 0; */
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
}

nav ul li {
  padding-bottom: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
}

/* headings */
h1 {
  background-color: var(--brand-color);
}

h2 {
  color:var(--brand-color);
  font-size: var(--h2-size);
  text-align: center;
  padding: 1rem;
}

h3 {
  padding-bottom: 1rem;
  font-size: var(--h3-size);
  /* text-align: center; */
}

p {
  padding-bottom: 1rem;
}

h4 {
  font-size: var(--h4-size);
  padding: 1rem;
  color: var(--brand-color);
  text-align: center;
}

h5 {
  font-size: var(--h5-size);
}

/* welcome section */
.welcome {
  /* display: block; */
  background-color: var(--brand-color);
  /* color: var(--secondary-color);
  padding: 1rem; */
}

/* .welcome {
  background-image: url("../images/filler.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 315px;

} */

  .content {
    display: block;
    background-color: var(--brand-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.content-magic {
  display: block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
}


img {
  /* need to fix width here to overflow */
  width: 100%;
  margin: auto;
}

.favourites {
  color: var(--brand-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.drinks {
  /* Add shadows to create the "card" effect */
  border-color: var(--accent-color);
  outline: 3px solid var(--accent-color);
  border-radius: 2.5px;
  margin: 1rem;
}

.container {
  padding: 2px 16px;
}

.magic {
  display: block;
  background-color: var(--secondary-color);
  color: var(--brand-color);
  /* padding-left: 1rem;
  padding-right: 1rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.magic h3{
  color: var(--brand-color);
}

.testimonials{
  background-color: var(--accent-color);
  padding: 1rem;
  padding-bottom: 2rem;
}

.quote{
  background-color: var(--brand-color);
  border-radius: 2.5px;
  color: var(--secondary-color);
}

.quote p{
  padding: 1rem;
}

.newsletter{
  background-color: var(--brand-color);
}

.newsletter h4{
  color: var(--secondary-color);
  text-align: center;
  padding: 2rem;
}

/* footer */

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
}

footer .footerNav {
  background-color: black;
}

.footerNav {
  text-align: left;
  /* add to style sheet */
}

.footerNav a {
  color: lightslategrey;
}

.footerNav ul li {
  padding-bottom: 1.5rem;
}

#copyright {
  color: var(--secondary-color)
}

/* button */

/* button {
  width: min-content;
} */


.button-main {
  background-color: var(--accent-color); 
  border: solid var(--accent-color);
  color: var(--brand-color);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: -2rem;
  padding-right: -2rem; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  /* align-self: center; */
  border-radius: 5px;
}

.button-secondary {
  background-color: var(--brand-color); 
  border: solid var(--accent-color);
  color: var(--accent-color);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: -2rem;
  padding-right: -2rem; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  /* align-self: center; */
}

.button-3 {
  background-color: var(--brand-color); 
  border: solid var(--brand-color);
  color: var(--secondary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 115px;
  border-radius: 5px;
  /* align-self: center; */
  display: flex;
  justify-content: center;
}

.button-footer{
  background-color: var(--brand-color); 
  border: solid var(--brand-color);
  color: var(--secondary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: -2rem;
  padding-right: -2rem; */
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  border-radius: 5px;
  margin: 1rem;
  /* align-self: center; */
}


/* star content seperator */
.banner {
  background-color: var(--brand-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
}

.starcontent { 
  
  background-image: url(./images/Vector\ \(3\).png);
  background-repeat: repeat-x;
  height: 30px;
  padding: 1rem;
  background-color: var(--brand-color);
  background-size: 30px 30px;
  
  }